<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Network Automation App</title>
  </head>
  <body>
    <h1>Managed Devices</h1>
    <ul>
      {% for device in devices %}
      <li>{{ device.emoji }} {{ device.name }} {{ device.mac_address }}</li>
      {% else %}
      <p>No devices added yet.</p>
      {% endfor %}
    </ul>
    <form action="/add" method="post">
      <input
        type="text"
        name="mac_address"
        placeholder="Enter MAC Address"
        required
      />
      <button type="submit">Add Device</button>
    </form>
  </body>
</html>
